body {
	background: #e1e1e1;
	background-image: url("cork-wallet.png");
	
}
#spacer {
	height:100;
	
}
#title > b{
	//placeholder
	width: 75%;
	height: 100px;
	font-family: Arial;
	font-size: 75;
	color:#93c6ef;
	text-shadow: 2px 2px #65a7de;
	
}	
#logo {
	
}
#titles {
	color: black;
	text-align: left;
	padding: 10px 10px;
}
#titles2 {
	color: black;
	text-align:center;
	padding: 0px 20px;
}
#text {
	float: left;
	color: black;
	width: 50%;
	padding: 0px 10px;
	text-align:left;
	
}
#menu {
	width:75%;
	height: 40px;
	background: #93c6ef;
	border-left: thick solid #65a7de;
	border-bottom:  thick solid #9cd0f9;
}
#box1 {
	width:75%;
	height:2000;
	border-left: thick solid #65a7de;
	background: #F5F5F5; 
}
#menu > nav > ul {
	list-style-type: none;
	text-decoration: none;
}
#menu > nav > ul > li{
	
	float: left;
	padding: 0px 30px;
	color:#DFDFDF;

}
#item {
	display: inline-block;
	padding: 10px 0px;
	height: 20px;
	
	
	color:#F5F5F5;
}
#item:hover{
	background-color:#65a7de;
	opacity:25%;
	
	
	
}
*{
	color: #fff;
	font-family: Arial;
	text-decoration: none;
	list-style-type: none;
	
}
#sub-menu{
	position: absolute;
	background: #00D377;
	list-style-type: none;
	top: 150px;
	left: 230px;
	text-align: left;
	overflow: hidden;
	float: left;
	
	
}


#menu-text {
	padding:0;
	margin:0;
}




#contact {
	text-align: center;
	color: black;
	font-family: arial;
}